{% extends "layout.html" %}
{% block body %}
    <h1>Robot Position</h1>
    <div class="row">
        <div id="positionChart" class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonPosition">Refresh</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonPositionRestore">Restore</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonPositionReset">Reset</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputGoToX" class="control-label">Go to X</label>
                        <input type="text" class="form-control" name="inputGoToX" placeholder="Enter X for movement">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputGoToY" class="control-label">Go to Y</label>
                        <input type="text" class="form-control" name="inputGoToY" placeholder="Enter Y for movement">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputGoToT" class="control-label">Go to T</label>
                        <input type="text" class="form-control" name="inputGoToT" placeholder="Enter Time for movement">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonGoTo">Move</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-success btn-lg" type="button" id="buttonForward">
                        <div class="glyphicon glyphicon-arrow-up"></div>
                    </button>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-warning btn-lg" type="button" id="buttonLeft">
                        <div class="glyphicon glyphicon-arrow-left"></div>
                    </button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-warning btn-lg" type="button" id="buttonRight">
                        <div class="glyphicon glyphicon-arrow-right"></div>
                    </button>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger btn-lg" type="button" id="buttonBackward">
                        <div class="glyphicon glyphicon-arrow-down"></div>
                    </button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>

    <h1>Experiments</h1>

    <div class="row">
        <div id="my_chart" class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonRestore">Restore</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonClear">Clear</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputX" class="control-label">X</label>
                        <input type="text" class="form-control" name="inputX" placeholder="Enter X Coordinate">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputY" class="control-label">Y</label>
                        <input type="text" class="form-control" name="inputY" placeholder="Enter Y Coordinate">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputTorZ" class="control-label" id="labelTorZ">T or Z</label>
                        <input type="text" class="form-control" name="inputTorZ" placeholder="Enter T or Z">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-success btn-lg" type="button" id="buttonAdd">
                        <div class="glyphicon glyphicon-plus"></div>
                    </button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="selectMethod" class="control-label">Method</label>
                        <select class="form-control" id="selectMethod">
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputK" class="control-label">K</label>
                        <input type="text" class="form-control" name="inputK" placeholder="Enter Constant K">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputT" class="control-label">T</label>
                        <input type="text" class="form-control" name="inputT" placeholder="Enter Constant T">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-lg" type="button" id="buttonPlay">
                        <div class="glyphicon glyphicon-play"></div>
                    </button>
                    <button class="btn btn-warning btn-lg" type="button" id="buttonStop">
                        <div class="glyphicon glyphicon-stop"></div>
                    </button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="selectPoints" class="control-label">Points</label>
                        <select class="form-control" multiple="" id="selectPoints">
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger btn-lg" type="button" id="buttonRemove">
                        <div class="glyphicon glyphicon-remove"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="textAreaFileM" class="control-label">Matlab File</label>
                <textarea id="textAreaFileM" class="form-control" rows="5" readonly></textarea>
            </div>
        </div>
    </div>

{% endblock %}

{% block javas %}
    {{ super() }}
    <!-- contextMenu -->
    <script src="{{ url_for('static', filename='js/jquery.contextMenu.js') }}">
    </script>


    <!-- flot -->
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/jquery.flot.navigate.min.js') }}">
    </script>

    <!-- uses -->
    <script src="{{ url_for('static', filename='js/charts.js') }}">
    </script>
    <script>
        jQuery(document).ready(function () {
            initialize();
        });

    </script>
{% endblock %}
